.login-container {
    background-color: #f8f9fa; /* Cor de fundo suave */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    width: 100%;
  }
  
  .forgot-password-btn {
    text-align: center;
    padding: 0;
  }
  
  @media (max-width: 576px) {
    .align-items-center {
      flex-direction: column; /* Ajusta os itens em telas pequenas */
      gap: 1rem; /* Espaçamento entre os itens */
    }
  
    .forgot-password-btn {
      margin-top: 0.5rem;
    }
  }
  